.comments {
  position: relative;
  margin-inline: 135px;

  &__title {
    @include typography-h2();
    margin-bottom: 17px;
  }

  &__description {
    width: 70%;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: $color-main-text;
    margin-bottom: 30px;
  }
}

.br {
  width: 70%;
  height: 2px;
  background-color: $color-light;
  margin-bottom: 30px;
}

.author {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 140px;
  
  &__avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $color-dark;
  }

  &__job {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: $color-main-text;
  }
}

.controls {
  position: absolute;
  top: 75px;
  right: 0;
  display: flex;
  column-gap: 20px;

  &__right {
    @include slider-control($color-light, $color-primary);
    transform: rotateY(180deg);
  }

  &__left {
    @include slider-control($color-main-text, $color-light);
  }
}