.download {
  width: 1170px;
  padding-block: 52px 64px;
  padding-inline: 70px;
  background-color: $color-primary;
  border-radius: 20px;
  opacity: 0.85;
  margin-inline: 135px;
  margin-bottom: 140px;

  &__information {
    position: relative;
    width: 45%;

    &::after {
      content: "";
      position: absolute;
      top: -106px;
      left: 518px;
      width: 522px;
      height: 438px;
      background-image: url("/public/assets/images/download-bg.webp");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  &__title {
    @include typography-h2($color-light);
    margin-bottom: 17px;
  }

  &__description {
    font-size: 18px;
    line-height: 140%;
    color: $color-light;
    margin-bottom: 45px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    column-gap: 21px;
  }

  &__link {
    width: 138px;
    height: 40px;
    border-radius: 5px;
    color: #A6A6A6;
    transition-duration: $transition-duration;

    &:hover {
      color: $color-light;
    }

    &:focus-visible {
      color: $color-light;
      outline-offset: 2px;
      outline: 2px solid currentColor;
    }
  }
}