.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 135px;
  margin-bottom: 180px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    color: $color-dark;
    margin-bottom: 17px;
  }

  &__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: $color-main-text;
    text-align: center;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    column-gap: 30px;
    margin-bottom: 60px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 24px;
    width: 210px;
    height: 200px;
    padding: 39px 44px 33px 44px;
    box-shadow: 0px 16px 20px 0px #141B4108;

    &-description {
      font-size: 14px;
      line-height: 100%;
      color: $color-dark;
      text-align: center;
    }
  }
}
