.welcome {
  position: relative;
  margin-inline: 135px;
  margin-bottom: 212px;
  $content-width: 50%;

  &__title {
    width: $content-width;
    @include typography-h2();
    margin-bottom: 22px;
  }

  &__description {
    width: $content-width;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 58px;
  }

  &__picture {
    position: absolute;
    top: -192px;
    right: 10px;
    width: 757px;
    height: 744px;

    &::after {
      content: '';
      position: absolute;
      top: 102px;
      right: -112px;
      height: 900px;
      width: 700px;
      opacity: 0.3;
      z-index: -1;
      background-image: url('/public/assets/images/welcome-bg.webp');
      background-repeat: no-repeat;
    }
  }
}